html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	padding: 10px;
	color: #999;
	background-color: #444;
	max-width: 1400px;
}

.banner {
	padding-top: 10px;
	padding-bottom: 10px;
}

.game_panel {
	display: none;
}

.room {
	background-color: #ddd;
	font-weight: bold;
}

.panel_no_margin {
	margin-bottom: 0px;
}

.game_canvas {
	width: 780px;
	height: 700px;
	background-image: url("images/bg.png");
}

.chatbox {
	border-color: #aaa;
	font-weight: bold;
}

.chat_header {
	background-color: #444;
	color: #999;
}

.chat_body {
	height: 558px;
	overflow: auto;
}

.chat_footer {
	background-color: #777;
	color: #999;
	font-weight: normal;
}

.game {
	position: relative;
	overflow: auto;
	max-width: 800px;
	margin: 0 auto;
}
 
.game_modal {
    position: absolute !important;
}

.bid_button {
	background-color: #ddd;
	font-weight: bold;
	width: 11.11%;
}

.btn-danger {
	font-weight: bold;
	width: 11.11%;
}

.btn-success {
	font-weight: bold;
}

.spacer { 
	margin: 0;
	padding: 0;
	height: 10px; 
}

.login {
	margin: 0 auto;
	width: 80%;
}

.alert {
	display: none;
}

.page_wrapper {
	max-width: 1400px;
	margin: 0 auto;
	height: 100%;
}

.cards {
	position: absolute;
	top: 570px;
	text-align: center;
	width: 780px;
}

.card {
	width: 70px;
	margin-left: 3px;
	margin-right: 3px;
}

.middle_row {
	position: absolute;
	height: 385px;
	width: 780px;
	top: 150px;
	left: 15px;
}

.opponent_cards {
	text-align: center;
	height: 385px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.top_table {
	height: 200px;
	width: 100%;
	font-size: 0px;
}

.bottom_table {
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 0px;
}

.top_card {
	width: 70px;
	margin-left: 55px;
	margin-right: 55px;
	position: relative;
	top: 90px;
}

.bottom_card {
	width: 70px;
	margin-left: 3px;
	margin-right: 3px;
}

.modal-open {
	overflow: auto;
	padding-right: 0px !important;
}